.card-body {
  padding: 10px;
}

.overview-title {
  border-bottom: 1px solid #EBEBEB; 
  padding: 25px 0px 25px 0px;
}

.avgReviewContainer, .totalReviewsContainer, .priceRangeContainer, .cuisineTypeContainer {
  margin-right: 3%;
  display: inline-block;
}

.avgReview, .totalReviews, .priceRange, .cuisineType {
  margin-left: 5px;
}